.container {
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: whitesmoke;
}

.head {
    padding: 20px;
    display: flex;
    background-color:rgb(217, 129, 30);
    justify-content: start;
    align-items: center;
    border: 3px solid red;
}

.gambar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.side {
    margin-left: 20px;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    background-color: rgb(232, 209, 6);

}

.menu {
    list-style: none;
    padding: 20px;
}

.tentang {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.tentang h2 {
    color: black;
}

.tentang div {
    display: flex;
    justify-content: center;
}

.tentang video {
    width: 400px;

}

.pengalaman {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.pengalaman table {
    width: 100%;
}

.form {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.btn {
    background-color: blueviolet;
    color: white;
    padding: 15px;
    border-radius: 20px;
}

.side h1,h3{
    color: black;
}